html, body, #app {
    margin: 0;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: row;

    /* Align the item following the opposite axis of flex-direction */
    align-items: flex-start;
    /* Align the item following the same axis of flex-direction */
    justify-content: space-between;
    
}

.box {
    width: 60px;
    height: 60px;
    background: #f00;
    margin: 5px;
    border-radius: 4px;

    /* Component rendimention. This grows or reduces a component depending on screen */
    flex: 1;
}